.big-container{
    height: 92vh;
    width: 80%;
    background: linear-gradient(to bottom right,  #012d38, #023e48, #18817f, #299d92);
    padding: 0% 10%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.left-container, .right-container{
    /* padding-top: 5%; */
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container div p{
    color: white;
    font-size: 40px;
    line-height: 0;
}

img{
    max-height: 100%;
    width: 100%;
    align-items: center;
}
