<app-account-template title="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input [formControl]="$any(loginForm.controls['email'])" [label]="'Email'"></app-input>
        <app-input [formControl]="$any(loginForm.controls['password'])" [type]="'password'" [label]="'Password'"></app-input>
        <!-- <div class="input">
            <label>Email</label>
            <input type="email" formControlName="email">
            <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
                <div *ngIf="formControls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="formControls['email'].errors?.['email']">Invalid email format</div>
            </div>
        </div>
        <div class="input">
            <label>Password</label>
            <input type="password" formControlName="password">
            <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)">
                <div *ngIf="formControls['password'].errors?.['required']">Password is required</div>
                <div *ngIf="formControls['password'].errors?.['minlength']">Password must be at least 8 characters</div>
                <div *ngIf="formControls['password'].errors?.['invalidPassword']">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</div>
            </div>
        </div> -->
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</app-account-template>
