<div class="big-container">
    <div class="small-container">
        <div class="left-container">
            <img class="img" src="../../../assets/images/Hospital.jpg">
        </div>
        <div class="right-container">
            <div class="login-container"> 
                <div class="upper-login-container">
                    <div class="left-line">
                    </div>   
                    <h3>
                        {{title}}
                    </h3>
                    <div class="right-line">
                    </div>
                </div>     
                <ng-content></ng-content>
            </div>
           
        </div>
    </div>
</div>

