<div class="container">
    <div class="left-container">
        <img src="./../../assets/images/hospital-logo.png">
    </div>
    <div class="middle-container">
        <ul>
            <li>
                Home
            </li>
            <li>
                About
            </li>
            <li>
                Doctors
            </li>
            <li>
                Contact
            </li>
        </ul>
    </div>
    <ng-container *ngIf="(this.identityService.currentUser$ | async) === null">
        <div class="right-container">
            <button (click)="goToLogin()">Login</button>
            <button (click)="goToRegister()">Register</button>
        </div>
    </ng-container>

    <ng-container *ngIf="this.identityService.currentUser$ | async as user">
        <div class="right-container">
            <p>Welcom {{user.firstName}} </p>
            <button (click)="logout()">Logout</button>
        </div>
    </ng-container>
    
</div>
<router-outlet></router-outlet>
